<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeltaOffers</title>
    <link rel="stylesheet" href="~/css/Encabezado.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Portada.css" asp-append-version="true">
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.png">
</head>

<body>
    <header class="header">
        <div>
            <img src="/Images/logo.PNG" alt="Logo" class="logo">
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="iniciar_sesion" asp-controller="Account" asp-action="Logout">Cerrar sesión</a>
            }
            else
            {
                <a class="iniciar_sesion" asp-controller="Account" asp-action="Login">Iniciar sesión con Google</a>
            }
        </div>
    </header>


    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
