@{
    ViewData["Title"] = "Home Page";
}
    
<div class="contenedor">
    <div class="content">
        <h1>DeltaOffers</h1>
        <p>Convocatorias de PDI Y PAS de las universidades de Castilla y León</p>
        <a class="btn" asp-area="" asp-controller="Universidad" asp-action="Index">Empieza ya</a>
    </div>
</div>

